{% load static %}

<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="{% static 'body.css' %}">
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Saif Al-Qawasmi</title>
</head>

<body>
   <div class="container">
      <div class="my_img">
         <img src=" {% static 'my_img.jpg' %}">
      </div>
      <div class="my_name">
         <h1>Saif Al-Qawasmi</h1>
         <a href="#">projects i made</a>
      </div>
   </div>
</body>

</html>